<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ContactConnectionString" connectionString="Data Source=DESKTOP-FIIP8FF;Initial Catalog=webproject;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>